<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EpicGrind.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <EpicGrind.My.MySettings>
            <setting name="LastProfileID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MacroFilePath" serializeAs="String">
                <value>C:\Epic\Apps\EpicMacro\SaveProfiles</value>
            </setting>
            <setting name="S_SDI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S_LayoutLoop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNews" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="S_RakstlTags" serializeAs="String">
                <value/>
            </setting>
            <setting name="S_FramePosDelta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="S_DeltaWin" serializeAs="String">
                <value>0</value>
            </setting>
        </EpicGrind.My.MySettings>
    </userSettings>
</configuration>
